@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #00FF9C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sora: var(--font-sora);
  --font-space-grotesk: var(--font-space-grotesk);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora), sans-serif;
}

.font-headline {
  font-family: var(--font-sora), sans-serif;
}

.font-label {
  font-family: var(--font-space-grotesk), sans-serif;
}

.font-body {
  font-family: var(--font-sora), sans-serif;
}
